<div class="login-container">
  <div class="login-box">
    <div class="login-left">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <h2 class="brand">ZEN ZAP</h2>
      <p class="slogan">A PLANS PEACE</p>
    </div>
    <div class="login-right">
      <h3>LOGIN</h3>
      <input type="text" placeholder="usuario" [(ngModel)]="email" name="email" />
      <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" />
      <button (click)="login()">Ingresar</button>
      <hr />
      <a href="#">¿Haz olvidado la contraseña?</a><br />
      <a href="#">¿No tienes cuenta? | Regístrate</a>
    </div>
  </div>
</div>